
.content {
    display: flex;
    justify-content:center;
    align-content: center;
    border-radius: 5px;
}
.painel {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-bottom: 1rem;
  margin-right: .2rem;
  
}

.final {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: transparent;
    justify-content: space-around;
}
.final > span {
    font-size: 70px;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 2rem;
    text-shadow: 2px 2px 10px #070707;
}
.final > hr {
    color: #fff;
    opacity: 50%;
}
.caixa{
    height: 100%;
    width: 600px;
    background-color:grey;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    border-radius: 15px;
    margin:.2rem;
    margin-left: .1rem;
    box-shadow: 2px -2px 10px #070707;
    font-size: 58px;
}
.caixa > h2  {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
}
.senha_ {
    margin-top: 1rem;
}

.caixa > hr {
    color: #fff;
}
.senha_nome {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.msg,
.dot {
    background-color: transparent;
    font-size: 35px;
    color: #fff;
    padding-left: 15px;
}
.layout {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color: #fff
}

.layout > h1, p {
    background-color: transparent;
}
.layout > h1 > hr {
    color: #fff;
}

.font {
    font-size: 30px;
    background-color: transparent;
    font-weight: 400;
}
.aviso {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    position: absolute;
    top: 0;
    text-align: center;
    background-color: transparent;
    justify-content: space-around;
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    text-shadow: 2px 2px 4px #070707;
}
.aviso > hr {
    color: #fff;
    margin: 1rem;
    opacity: 50%;
}
.propaganda {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: .2rem;
    margin-bottom: 1rem;
    text-shadow: -2px 2px 4px #070707;
    background: linear-gradient(to bottom left, #808080, #AAAAAA, #E2E2E2);
    box-shadow: 2px -2px 10px #070707;

}

.Hname{
    margin-top: 2rem;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 0;
    background-color: transparent;
    text-shadow: 2px 2px 4px #070707;
}
.msg {
    margin-top: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px #070707;
}

.img {
    margin-top: 3rem;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(100, 78, 78);
}

.cadastro {
    text-align: center; 
    padding: 0 0 1rem 0;
}

.name {
    margin: 0 0 .5rem 0;
    width: 400px;
    height: 50px;
    border-radius: .5rem;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 2px #fff;
    background-color: #fff;
    border:inherit 5px;
    margin: 5px;
}

.button {
    margin-bottom: 1rem;
    padding: 5px;
    text-align: center;
}

.newSenha {
    margin: 5px;
    padding: 1rem;
	background-color: #0a4ea1;
	border-radius:10px;
	cursor:pointer;
	color:#ffffff;
	
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:1px 1px 10px #070707;
    font-weight: 400;
}

.newSenha:hover {
	background-color:#022551;
}

.newSenha:active {
	position: relative;
	top:1px;
}
.consultorios > p {
    margin-top: .5rem;
}



.dispo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 20px;
    margin: 20px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #0a4ea1;
    cursor: pointer;
}

.dispo:hover {
	background-color:#022551;
}

.dispo:active {
	position: relative;
	top:1px;
}