.content {
    display: flex;
    justify-content:left;
    align-content: center;
   
}
.fullPainel {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 2px solid #000;
 
}
.final {
    display: flex;
    flex-direction: row;
    padding-left: 85%;
    text-align: left;
    padding-top: 1rem;
    background-color: transparent;
    opacity: 70%;   
}
.final > span {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5rem;
    border-radius: 10px;
    border-bottom: 1px solid #070707;
    box-shadow: 0 2px 5px #fff;   
}
.caixa > h2 {
    font-size: 50px;
    font-weight: 600;
}
.msg,
.dot {
    background-color: transparent;
    font-size: 35px;
    color: #fff;
    padding-left: 15px;
}
.caixa{
    height: 100%;
    width: 500px;
    background-color: rgb(205, 186, 247);
    font-size: 40px;
    padding-left: .5rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: center;
}
.layout {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #fff;
}
.layout > h1, p {
    background-color: transparent;
}

.font {
    font-size: 30px;
    background-color: transparent;
    font-weight: 400;
}

.propaganda {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #012677, #005bc5, #acc2e8 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 
}

.Hname{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: bolder;
    padding: 0;
    background-color: transparent;
    font-style: unset;
}
.img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    height: 500px;
    width: 750px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(100, 78, 78);
}
.cadastro {
    text-align: center; 
    padding: 0 0 1rem 0;
}
.name {
    margin: 0 0 .5rem 0;
    width: 400px;
    height: 50px;
    border-radius: .5rem;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 2px #fff;
    background-color: #fff;
    border:inherit 5px;
    margin: 5px;
}
.button {
    margin-bottom: 1rem;
    padding: 5px;
    text-align: center;
}
.newSenha {
    margin: 5px;
    padding: 1rem;
	background-color: #0a4ea1;
	border-radius:10px;
	cursor:pointer;
	color:#ffffff;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:1px 1px 10px #070707;
    font-weight: 400;
}

.newSenha:hover {
	background-color:#022551;
}

.newSenha:active {
	position: relative;
	top:1px;
}
.consultorios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dispo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 20px;
    margin: 20px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #0a4ea1;
    cursor: pointer;
}

.dispo:hover {
	background-color:#022551;
}

.dispo:active {
	position: relative;
	top:1px;
}